
.wrapper {
  zoom : 0.7;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #44444440;
  color: #44444440;
  border-radius: 2px;
  padding: 1px;
}
